[submodule "dyninst"]
	path = dyninst
	url = https://github.com/dyninst/dyninst.git
	branch = master
[submodule "testsuite"]
	path = testsuite
	url = https://github.com/dyninst/testsuite.git
	branch = master
